@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Merriweather Sans"), url('../fonts/MerriweatherSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Merriweather Sans"), url('../fonts/MerriweatherSans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "Badaboom BB";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Badaboom BB"), url('..//fonts/badaboom_bb.woff2') format('woff2');
}

body {
    font-family: "Merriweather Sans", sans-serif, system-ui;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: url("/img/bg.jpg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 828px;
}

.header__title {
    margin-top: 125px;
    font-family: "Badaboom BB";
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FCC211;
}

.header__undertitle {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    max-width: 570px;
    margin: 0 auto;
    padding: 0 50px;
}

.header__button {
    width: 244px;
    height: 50px;
    background: transparent;
    border: 0;
    background-image: url("/img/header-btn.svg");
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.winners {
    background-image: url("/img/trolls.svg");
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 30px;
}

.winners__table {
    display: flex;
    justify-content: center;
}

.winners__card {}

.winners__card--1 {
}

.winners__card--2 {
    padding-top: 49px;
}

.winners__card--3 {
    padding-top: 49px;
}

.winners__userpic {}

.winners__image {}

.score__box {}

.winners__username {}

.score__text {}

.score__text-bet {}

.score__cush {}

.score__cush-bet {}

.score__cush-win {}

.results-table {}

.results-table__title {}

.results-table__users {}

.results-table__btn {}