@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Merriweather Sans"), url('../fonts/MerriweatherSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Merriweather Sans"), url('../fonts/MerriweatherSans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "Badaboom";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Badaboom"), url('../fonts/AABadaBoom.ttf') format('ttf');
}

body {
    font-family: "Merriweather Sans", system-ui;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {}

.container {
    margin: 0 auto;
    width: 828px;
}

.header__title {
    font-family: Badaboom;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FCC211;
}

.header__undertitle {}

.header__button {}

.winners {}

.winners__characters {}

.winners__character {}

.winners__table {}

.winners__card {}

.winners__userpic {}

.winners__image {}

.score__box {}

.winners__username {}

.score__text {}

.score__text-bet {}

.score__cush {}

.score__cush-bet {}

.score__cush-win {}

.results-table {}

.results-table__title {}

.results-table__users {}

.results-table__btn {}