/* Mobile */ 
@media (max-width: 320px) {
    .container {
        max-width: 426px;
        padding: 0 14px;
    }
}

/* Tablets */ 
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}