/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        background-color: #000;
        background-image: url("https://shpilson.github.io/dgline/img/bg-media4.jpg");
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
    .container {
        max-width: 320px;
        padding: 0 14px;
    }
    .header__undertitle {
        margin: 20px auto;
    }
    .winners {
        background-image: none;
    }
    .winners__table {
        flex-direction: column;
    }
    .winners__image {
        margin: 0 auto;
    }
    .results-table-top-image {
        object-position: 0 10px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        background-color: #000000;
    }

    .container {
        max-width: 768px;
        padding: 0 14px;
    }

    .winners {
        background-image: none;
    }
}

/* Laptops */
@media (min-width: 1024px) {
    
}